// ok to deploy

// Socials

$facebook: #3B5998

// iOS Colors

$red: #ff3b30

$orange: #ff9500

$yellow: #ffcc00

$green: #4cd964

$azure: #34aadc

$blue: #007aff

$purple: #5856d6

$pink: #ff2d55

// Pickapp Colors

$p_light: #F3F3F5

$p_stable: #939598

$p_dark: #58595B

$p_assertive: #DB4F59

$p_balanced: #8DC549

$p_calm: #29ABDF

$p_royal: #FF8A02

=create-color-class($name, $color)
  .text-#{$name}
    color: $color !important
  .bg-#{$name}
    background-color: $color !important

+create-color-class('light', $p_light)
+create-color-class('stable', $p_stable)
+create-color-class('dark', $p_dark)
+create-color-class('assertive', $p_assertive)
+create-color-class('calm', $p_calm)
+create-color-class('balanced', $p_balanced)
+create-color-class('royal', $p_royal)