.flex
  +display(flex)

  .flex-item
    +flex(1)
    margin-left: 10px
    margin-right: 10px

    &:first-child
      margin-left: 0px

    &:last-child
      margin-right: 0px

    &.no_margin
      margin: 0px

    @for $i from 2 through 4
      &.x#{$i}
        +flex($i)