<p>Ciao <%= @resource.email %>!</p>

<p> 
Qualcuno ha richiesto il reset della tua password.<br/>
Se non sei stato tu, ignora questa email.<br/><br/>

Utilizza questo link per reimpostare la tua password:
</p>

<p><%= link_to 'Reimposta Password', edit_password_url(@resource, reset_password_token: @token, host: 'http://www.pick-app.it') %></p>
